body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header,
.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
}

a,
.subtitle {
  font-size: 18px;
  color: #e5e7eb;
}

.header {
  padding: 16px 250px;
}

.hero {
  padding: 250px;
}

.hero .content {
  max-width: 450px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}

a {
  text-decoration: none;
}

.hero .title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin-bottom: 8px;
}

.subtitle {
  margin-bottom: 16px;
}

.sign-up {
  background-color: #3882f6;
  border-radius: 8px;
  border: 0;
  padding: 8px 32px;
  font-size: 18px;
  color: white;
  font-weight: 900;
}

.hero .placeholder-img {
  font-size: 18px;
  color: white;
  background-color: darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 500px;
}

.information .title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  padding: 48px 250px;
  text-align: center;
}

.information .content {
  display: flex;
  justify-content: center;
  gap: 64px;
  margin-bottom: 150px;
}

.figure {
  max-width: 175px;
  text-align: center;
}

.information .placeholder-img {
  width: 175px;
  height: 175px;
  border-style: solid;
  border-width: 4px;
  border-radius: 16px;
  border-color: #3882f6;
  margin-bottom: 8px;
}

.information .subtext {
  color: #1f2937;
  font-size: 18px;
}

.quote {
  background-color: #e5e7eb;
}

.quote .text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
  max-width: 825px;
  padding-top: 150px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.quote .speaker {
  font-size: 24px;
  font-weight: 900;
  text-align: right;
  margin-right: 500px;
  padding-bottom: 100px;
}

.call-to-action {
  padding: 100px 250px;
}

.card {
  background-color: #3882f6;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 120px;
}

.card .title {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.card .sign-up {
  border-width: 2px;
  border-style: solid;
  border-color: #f9faf8;
}

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 18px;
  text-align: center;
  padding: 48px;
}